<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../static/css/lookbook.css">
        <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
        <meta charset="UTF-8">
        <!-- keywords for search engines -->
        <meta name="keywords" content="HTML, CSS, XML, JavaScript">
        <meta name="author" content="Karim">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    
    <body>
        <div class="banner">
            <div id="banner1"><div class="word1">SSEKING</div> <div class="word1">JUDY</div> <div class="word1">35MM</div> <div class="word1">MEG</div></div>
            <div id="banner2"><div class="word">SSEKING</div> <div class="word">JUDY</div> <div class="word">35MM</div> <div class="word">MEG</div></div>
        </div>
        
        <div class="sidebar">
            <ul class="sidebar-left">
                <li class="list-side"><a href="index">HOME</a></li>
                <li class="list-side"><a href="shop">SHOP</a></li>
                <li class="list-side"><a href="lookbook">LOOKBOOK</a></li>
                <li class="list-side"><a href="diary">DIARY</a></li>
            </ul>
        </div>
        
        <div class="more">
            <ul class="sidebar-bottom">
                <li class="list-bottom"><a href="#">CONTACT</a></li>
                <li class="list-bottom"><a href="#">ABOUT</a></li>
                <li class="list-bottom"><a href="#">STOCKISTS</a></li>
                <li class="list-bottom"><a href="#">PORTFOLIO</a></li>
            </ul>
        </div>

        <div class="gallery">
            
            <button id="prev">&#10094;</button>
            <canvas id="the-canvas"></canvas>
            <span><span id="page_num"></span><span id="page_count"></span></span>
            <button id="next">&#10095;</button>

        </div>
    </body>
    
    <script>
        // If absolute URL from the remote server is provided, configure the CORS
        // header on that server.
        var url = 'static/img/lookbook/finallookbookreal3.pdf';

        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 1,
            canvas = document.getElementById('the-canvas'),
            ctx = canvas.getContext('2d');

        /**
         * Get page info from document, resize canvas accordingly, and render page.
         * @param num Page number.
         */
        function renderPage(num) {
          pageRendering = true;
          // Using promise to fetch the page
          pdfDoc.getPage(num).then(function(page) {
            var viewport = page.getViewport({scale: scale});
            canvas.height = (viewport.height * .76);
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
              canvasContext: ctx,
              viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function() {
              pageRendering = false;
              if (pageNumPending !== null) {
                // New page rendering is pending
                renderPage(pageNumPending);
                pageNumPending = null;
              }
            });
          });

//          // Update page counters
//          document.getElementById('page_num').textContent = num;
        }

        /**
         * If another page rendering in progress, waits until the rendering is
         * finised. Otherwise, executes rendering immediately.
         */
        function queueRenderPage(num) {
          if (pageRendering) {
            pageNumPending = num;
          } else {
            renderPage(num);
          }
        }

        /**
         * Displays previous page.
         */
        function onPrevPage() {
          if (pageNum <= 1) {
            return;
          }
          pageNum--;
          queueRenderPage(pageNum);
        }
        document.getElementById('prev').addEventListener('click', onPrevPage);

        /**
         * Displays next page.
         */
        function onNextPage() {
          if (pageNum >= pdfDoc.numPages) {
            return;
          }
          pageNum++;
          queueRenderPage(pageNum);
        }
        document.getElementById('next').addEventListener('click', onNextPage);

        /**
         * Asynchronously downloads PDF.
         */
        pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
          pdfDoc = pdfDoc_;
//          document.getElementById('page_count').textContent = pdfDoc.numPages;

          // Initial/first page rendering
          renderPage(pageNum);
        });

    </script>

</html>

