<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../static/css/css.css">
        <link rel="stylesheet" type="text/css" href="../static/css/products.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/javascript/products.js"></script>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <meta charset="UTF-8">
        <!-- keywords for search engines -->
        <meta name="keywords" content="HTML, CSS, XML, JavaScript">
        <meta name="author" content="Karim">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


    </head>
    
    <body>
        <div class="banner">
            <div id="banner1"><div class="word1">SSEKING</div> <div class="word1">JUDY</div> <div class="word1">35MM</div> <div class="word1">MEG</div></div>
            <div id="banner2"><div class="word">SSEKING</div> <div class="word">JUDY</div> <div class="word">35MM</div> <div class="word">MEG</div></div>
        </div>
        
        <div class="sidebar">
            <ul class="sidebar-left">
                <li class="list-side"><a href="index">HOME</a></li>
                <li class="list-side"><a href="shop">SHOP</a></li>
                <li class="list-side"><a href="lookbook">LOOKBOOK</a></li>
                <li class="list-side"><a href="diary">DIARY</a></li>
            </ul>
        </div>
        
        <div class="more">
            <ul class="sidebar-bottom">
                <li class="list-bottom"><a href="#">CONTACT</a></li>
                <li class="list-bottom"><a href="#">ABOUT</a></li>
                <li class="list-bottom"><a href="#">STOCKISTS</a></li>
                <li class="list-bottom"><a href="#">PORTFOLIO</a></li>
            </ul>
        </div>
        
        <div id='p-grid'>
        </div>
        
        <!-- Modal box -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="image-box"></div>
            <div class="box-text item-name">The item name will go here</div>    
            <div class="box-text item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non erat tincidunt, tristique quam sit amet, porta mi. Suspendisse laoreet porttitor arcu, nec convallis leo suscipit vitae. In sed felis in enim scelerisque consectetur. Phasellus dignissim lectus purus. Proin placerat nunc nec sem consectetur semper. Aliquam gravida massa urna, a maximus felis accumsan quis. Vestibulum ac sapien magna. Pellentesque finibus magna pulvinar, feugiat neque id, lacinia massa. Quisque congue, neque at ullamcorper tristique, mauris metus venenatis risus, ac auctor ex dui et nunc. Donec tincidunt ullamcorper augue, vel consequat nisi sollicitudin ac. Donec ex lacus, aliquet et erat a, auctor facilisis lectus. Donec id suscipit risus.</div>
            <div class="box-text item-price"></div>
            <div id="buy-now" class="box-text buy-now"></div>
            <span class="box-text add-to-cart"></span>
          </div>
        </div>
        
    </body>
    
    

</html>

